@model HelloCovi.Models.CombineData
    ViewBag.Title = "About";
@{
    ViewBag.Title = "About";
}
<h1>Demo AJAX Helper</h1>
<div id="attachmentImage">
    Table of content
</div>

@Ajax.ActionLink("View more", "AjaxIndex", "Student"
    new AjaxOptions
    {
        HttpMethod = "GET",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "loadingImage",
        UpdateTargetId = "attachmentImage"
    })
<a href="~/Views/Home/About.cshtml">~/Views/Home/About.cshtml</a>

<div id="loadingImage" style="display:none">
    Loading attachment...
</div>
